@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

@media screen and (max-width: 768px) {
  #app {
    padding: 8px;
  }
}